#classroom {
    /*height: 950px;
    width: 1250px;*/
    height: 100%;
    width: 100%;
    /*position: relative;*/
    display: inline-table;
    text-align: center;
    position: relative;
}
#classroom div {
  position: absolute;
  background: #f6f8f9;
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  line-height: 35px;
  vertical-align: middle;
  border: 1px solid #ddd;
}